apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-ipv4-ippool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.90.178-192.168.90.179
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
